<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem List</title>
	<script>
		function validate_bounds() {
			const lowerBound = document.getElementById('rating_lower_bound');
			const upperBound = document.getElementById('rating_upper_bound');
			if (parseInt(lowerBound.value) > parseInt(upperBound.value)) {
				upperBound.value = lowerBound.value;
			}
		}

		function validate_bounds_inverse() {
			const lowerBound = document.getElementById('rating_lower_bound');
			const upperBound = document.getElementById('rating_upper_bound');
			if (parseInt(upperBound.value) < parseInt(lowerBound.value)) {
				lowerBound.value = upperBound.value;
			}
		}
	</script>
</head>
<body>
    <h1>Problem List</h1>
    <form action="/" method="get">
        <label for="rating_lower_bound">Rating Lower Bound:</label>
        <input type="number" id="rating_lower_bound" name="rating_lower_bound" step="100" min="800" max="3500" value="{{ request.args.get('rating_lower_bound', '800') }}" oninput="validate_bounds()">
        <br></br>
        <label for="rating_upper_bound">Rating Upper Bound:</label>
        <input type="number" id="rating_upper_bound" name="rating_upper_bound" step="100" min="800" max="3500" value="{{ request.args.get('rating_upper_bound', '3500') }}" oninput="validate_bounds_inverse()">
        <br></br>
        <label for="regex">Regex Filter:</label>
        <input type="string" id="regex" name="regex" value="{{ request.args.get('regex', '') }}">
        <br></br>
        <fieldset>
            <legend>Select Tags:</legend>
            {% for tag in possible_tags %}
                <label for="{{ tag }}">
                    <input type="checkbox" id="{{ tag }}" name="tags" value="{{ tag }}" 
                        {% if tag in request.args.getlist('tags') %}checked{% endif %}> {{ tag }}
                </label><br>
            {% endfor %}
        </fieldset>
        <button type="submit">Filter</button>
    </form>
    <ul>
        {% for problem in problems %}
			<li><a href="{{ problem.link }}">{{ problem.name }}</a> (ID: {{ problem.id }}, Rating: {{ problem.rating }})</li>
        {% endfor %}
    </ul>
</body>
</html>
